/*Barra de Navegação*/
#barraNavegacao{
  background-color: paleturquoise;
  border-bottom: 1px solid black;
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 1;
}

#barraNavegacao #barraNavegacao-Brand{
  font-size: 2.1em;
  color: black;
  font-weight: 600;
}

#barraNavegacao #barraNavegacao-Itens{
  margin-left: 750px;
  font-size: 1.1em;
}

#barraNavegacao-Itens-Item1, #barraNavegacao-Itens-Item2,
#barraNavegacao-Itens-Item3, #barraNavegacao-Itens-Item4{
  font-weight: 700;
}

#barraNavegacao-Itens-Item1:hover, #barraNavegacao-Itens-Item2:hover,
#barraNavegacao-Itens-Item3:hover, #barraNavegacao-Itens-Item4:hover{
  color: rgb(255, 255, 255);
}

#barraNavegacao #barraNavegacao-Brand:hover{
  color: rgb(255, 255, 255);
}


/*Estilo Home*/
#home{
  background-color: paleturquoise;
}

#home-main{
  width: 1500px;
}

#primeiraDivPrincipal{
  width: 900px;
  margin: -10px;
  float: left;
}

#primeiraDivPrincipal h1, h3{
  text-align: justify;
}

#primeiraDivPrincipal h1{
  margin-top: 100px;
  margin-left: 60px;
  font-size: 3.5em;
}

#primeiraDivPrincipal h3{
  margin-top: 50px;
  margin-left: 60px;
  font-size: 1.4em;
  width: 620px;
}

#btn-main-redirect {
  width: 200px;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 35px;
  border-radius: 20px;
  padding: 10px 20px;
}

#link-main-redirect {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

#segundaDivPrincipal{
  width: 490px;
  float: right;
  margin-right: 100px;
  margin-top: 60px;
}

#imagens{
  width: 490px;
}

#extras{
  clear: both;
  padding: 20px;
}

#feedback-home{
  margin-top: 10px;
}

/*Formulários de Cadastro*/
.titulos-centralizados{
  text-align: center;
}

#form-cadastro{
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 25px;
}

#btn-cadastro{
  padding: 10px 35px;
  background-color: rgb(5, 180, 102);
  margin-top: 20px;
}

/*Outras*/
.links-tabelas{
  margin: 3px;
}

.links-tabelas:hover{
  color: rgb(45, 38, 38);
}

#loginErrorMessage{
  color: red;
}