/*Barra de Navegação*/
#barraNavegacao1{
  background-color: #f8efbd;
  border-bottom: 1px solid black;
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 1;
}

#barraNavegacao1 #barraNavegacao1-Brand{
  font-size: 2.1em;
  color: black;
  font-weight: 600;
}

#barraNavegacao1 #barraNavegacao1-Itens{
  margin-left: 750px;
  font-size: 1.1em;
}

#barraNavegacao1-Itens-Item1, #barraNavegacao1-Itens-Item2,
#barraNavegacao1-Itens-Item3, #barraNavegacao1-Itens-Item4{
  font-weight: 700;
}

#barraNavegacao1-Itens-Item1:hover, #barraNavegacao1-Itens-Item2:hover,
#barraNavegacao1-Itens-Item3:hover, #barraNavegacao1-Itens-Item4:hover{
  color: rgb(255, 255, 255);
}

#barraNavegacao1 #barraNavegacao1-Brand:hover{
  color: rgb(255, 255, 255);
}

/*Barra Navegação 2*/
#barraNavegacao2{
  border-bottom: 1px solid black;
  height: 80px;
}

#barraNavegacao2 #barraNavegacao2-Brand{
  font-size: 2.1em;
  color: #000;
  font-weight: 600;
}

#barraNavegacao2 #barraNavegacao2-Itens{
  margin-left: 750px;
  font-size: 1.1em;
}

#barraNavegacao2-Itens-Item1, #barraNavegacao2-Itens-Item2,
#barraNavegacao2-Itens-Item3, #barraNavegacao2-Itens-Item4{
  font-weight: 700;
  color: #000;
}

#barraNavegacao2-Itens-Item1:hover, #barraNavegacao2-Itens-Item2:hover,
#barraNavegacao2-Itens-Item3:hover, #barraNavegacao2-Itens-Item4:hover{
  color: #0064fb;
}

#barraNavegacao2 #barraNavegacao2-Brand:hover{
  color: #0064fb;
}


/*Estilo Home*/
#home{
  background-color: #f8efbd;
}

#home-main{
  width: 1500px;
}

#primeiraDivPrincipal{
  width: 900px;
  margin: -10px;
  float: left;
  height: 500px;
}

#primeiraDivPrincipal h1, h3{
  text-align: justify;
}

#primeiraDivPrincipal h1{
  margin-top: 100px;
  margin-left: 60px;
  font-size: 3.5em;
}

#primeiraDivPrincipal h3{
  margin-top: 50px;
  margin-left: 60px;
  font-size: 1.4em;
  width: 620px;
}

#btn-main-redirect {
  width: 200px;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 35px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #8ab3cf;
}

#link-main-redirect {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

#segundaDivPrincipal{
  width: 490px;
  float: right;
  margin-right: 100px;
  margin-top: 60px;
}

#imagens{
  width: 490px;
}

#extras{
  clear: both;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid black;
}

#feedback-home{
  margin-top: 10px;
}

#cadastro{
  width: 400px;
  margin: 0 auto;
}

/*Formulários de Cadastro*/
.titulos-centralizados{
  text-align: center;
  margin-top: 25px;
  font-size: 2em;
}

#form-cadastro{
  width: 400px;
  font-weight: 300;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 25px;
  border: 1px solid black;
}

#btn-cadastro-div{
  text-align: center;
}

#btn-cadastro{
  background-color: #0064fb;
  border-radius: 20px;
  margin: 8px;
  width: 80%;
  font-size: 1.3em;
  font-weight: 600;
}

#links-extras-login{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#links-extras-login a{
  color: #0064fb;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

/*Sessão Comentários*/

#comentariosUsuarios{
  width: 450px;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 30px;
  border: 1px solid #e2dfdf;
  float: left;
}

.comentarioNomeUsuario{
  font-style: italic;
  font-size: 1.4em;
}

.paragrafoComentario{
  margin-top: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2em;
}

.dataHome{
  display: block;
  font-weight: 400;
  font-size: 1.1em;
}

/*Lista Pessoas*/
#cabecalhoLista{
  font-size: 1em;
  text-align: center;
}

#corpoLista{
  text-align: center;
}

/*Outras*/
.links-tabelas{
  margin: 3px;
}

.links-tabelas:hover{
  color: rgb(45, 38, 38);
}

#loginErrorMessage{
  color: red;
}

footer{
  background-color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 1.1em;
}