/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/*Animacao*/
@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/*Barra de Navegação*/
#barraNavegacao1{
  background-color: #d6ffffcf;
  border-bottom: 1px solid #0c5092;
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar-brand{
  font-family: 'Kanit', sans-serif;
}

#barraNavegacao1 #barraNavegacao1-Brand{
  font-size: 2.1em;
  color: #021f67;
  font-weight: 600;
}

#barraNavegacao1 #barraNavegacao1-Itens{
  margin-left: 750px;
  font-size: 1.1em;
}

#barraNavegacao1-Itens-Item1, #barraNavegacao1-Itens-Item2,
#barraNavegacao1-Itens-Item3, #barraNavegacao1-Itens-Item4{
  font-weight: 700;
  color: #021f67;
}

#barraNavegacao1-Itens-Item1:hover, #barraNavegacao1-Itens-Item2:hover,
#barraNavegacao1-Itens-Item3:hover, #barraNavegacao1-Itens-Item4:hover{
  color: #0c5092
}

#barraNavegacao1 #barraNavegacao1-Brand:hover{
  color: #0c5092
}

/*Barra Navegação 2*/
#barraNavegacao2{
  border-bottom: 1px solid black;
  height: 80px;
}

#barraNavegacao2 #barraNavegacao2-Brand{
  font-size: 2.1em;
  color: #000;
  font-weight: 600;
}

#barraNavegacao2 #barraNavegacao2-Itens{
  margin-left: 750px;
  font-size: 1.1em;
}

#barraNavegacao2-Itens-Item1, #barraNavegacao2-Itens-Item2,
#barraNavegacao2-Itens-Item3, #barraNavegacao2-Itens-Item4{
  font-weight: 700;
  color: #000;
}

#barraNavegacao2-Itens-Item1:hover, #barraNavegacao2-Itens-Item2:hover,
#barraNavegacao2-Itens-Item3:hover, #barraNavegacao2-Itens-Item4:hover{
  color: #0064fb;
}

#barraNavegacao2 #barraNavegacao2-Brand:hover{
  color: #0064fb;
}


/*Primeiro painel Home*/
#home{
  background-color: #d6ffffcf;
  font-family: 'Kanit', sans-serif;
}

#home-main{
  width: 1500px;
}

#primeiraDivPrincipal{
  width: 850px;
  margin-left: 55px;
  float: left;
  height: 500px;
}

#primeiraDivPrincipal h1, h3{
  text-align: justify;
  font-family: 'Kanit', sans-serif;
  color: #021f67;
}

#primeiraDivPrincipal h1{
  margin-top: 100px;
  margin-left: 55px;
  font-size: 3.5em;
  font-weight: 600;
}

#primeiraDivPrincipal h3{
  margin-top: 50px;
  margin-left: 60px;
  font-size: 1.4em;
  width: 620px;
}

#btn-main-redirect {
  width: 200px;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 35px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #021f67;
}

#btn-main-redirect:hover {
  background-color: #022e77;
}

#link-main-redirect {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

#segundaDivPrincipal{
  width: 490px;
  float: right;
  margin-right: 100px;
  margin-top: 60px;
}

#imagens{
  width: 490px;
  animation: spin 40s linear infinite;
}

#extras{
  clear: both;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #0c5092;
}

#feedback-home{
  margin-top: 30px;
  font-size: 1.3em;
  color: #021f67;
  font-weight: 600;
}

/*Sessão Comentários*/
#carroussel{
  height: 380px;
}
.carroussel-item{
  margin-left: 110px;
}

#comentariosUsuarios{
  width: 380px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 30px;
  border: 1px solid #e2dfdf;
  float: left;
}

.comentario{
  color: #021f67;
}

.comentarioNomeUsuario{
  font-style: italic;
  font-size: 1.25em;
  font-weight: 600;
}

.paragrafoComentario{
  margin-top: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}

.dataHome{
  display: block;
  font-weight: 400;
  font-size: 1.1em;
}

/*Recomendacoes*/
#recomendacao{
  background-color: #84bfff7d;
  overflow: hidden;
  height: 550px;
}

#recomendacao h1{
  text-align: center;
  font-size: 2.5em;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #001875;
  font-weight: 600;
}

#recomendacao1, #recomendacao2, #recomendacao3{
  padding: 15px;
  margin-bottom: 25px;
  margin-left: 30px;
  float: left;
  width: 450px;
}

.icon-recomendacao{
  text-align: center;
  font-size: 3em;
  color: #021f67;
  font-weight: 600;
}

.titulo-recomendacoes{
  color: #001875;
  text-align: center;
  font-weight: 600;
}

.paragrafo-recomendacoes{
  text-align: justify;
  font-size: 1.1em;
  color: #001875;
  width: 90%;
  margin: 0 auto;
}

/*Formulários de Cadastro*/
#cadastro{
  width: 400px;
  margin: 0 auto;
}

.titulos-centralizados{
  text-align: center;
  margin-top: 25px;
  font-size: 2.2em;
  font-family: 'Kanit', sans-serif;
}

#form-cadastro{
  width: 400px;
  font-weight: 300;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 25px;
  border: 1px solid black;
}

#btn-cadastro-div{
  text-align: center;
}

#btn-cadastro{
  background-color: #0064fb;
  border-radius: 20px;
  margin: 8px;
  width: 80%;
  font-size: 1.3em;
  font-weight: 600;
}

#links-extras-login{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#links-extras-login a{
  color: #0064fb;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

/*Lista Pessoas*/
#cabecalhoLista{
  font-size: 1em;
  text-align: center;
}

#corpoLista{
  text-align: center;
}

/*Outras*/
thead{
  text-align: center;
}

tbody{
  text-align: center;
}	

.links-tabelas{
  margin: 3px;
}

.links-tabelas:hover{
  color: rgb(45, 38, 38);
}

#loginErrorMessage{
  color: red;
}

#subtitulo-login{
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
  color: #000;
}

#custom-navbar-user{
  width: 200px;
  margin-left: 50px;
  justify-content: center;
}

.greeting{
  float: left;
  margin-top: 2px;
  margin-left: 12px;
  line-height: 1.7;
}

#dropdown{
  float: right;
  margin-right: 25px;
  line-height: 1;
  padding: 0%;
}


/*Rodapé*/
footer{
  height: 125px;
  background-color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 1.1em;
  clear: both;
}

#footer-direitos, #footer-politica-privacidade{
  color: #021f67;
  display: block;
}

#footer-politica-privacidade a{
  text-decoration: none;
  color: #021f67;
}

#footer-politica-privacidade a:hover{
  color: #0c5092;
}

#footer-redes{
  margin-top: 10px;
  margin-left: 10px;
}

#footer-redes a{
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #021f67;
}